:root {
/* Primary Colors */
--strongCyan: hsl(171, 66%, 44%);
--lightBlue: hsl(233, 100%, 69%);

/* Neutral colors */
--darkGrayishBlue: hsl(210, 10%, 33%);
--grayishBlue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Bai Jamjuree',sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

p{
    font-weight: 400;
    color: var(--grayishBlue);
}

li {
    font-weight: 400;
    color: var(--darkGrayishBlue);
}

/* Header Section */
.header {
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 5rem 0;
    background: url('images/bg-header-desktop.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.header .logo {
    width: 10rem;
    height: 10rem;
    margin: 3rem 0;
}

.header h1, .header p, .header .btn {
    margin-top: 2rem;
}

.btn {
    border-radius: 30px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    cursor: pointer;
    border: none;
}

.btn.ios {
    background: var(--strongCyan);
}

.btn.mac {
    background: var(--lightBlue);
}

/* Snippets Section */
.snippets {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.snippets .snippets-split {
    display: flex;
    align-items: center;
}

.snippets .s-paragraph {
    margin: 0 15rem;
    text-align: center;
}

.snippets .snippets-split img {
    margin-left: -4rem;
}

/* Access Section */


/* Workflow Section */


/* Clipboard Section */


/* Footer Section */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(235, 235, 235);
    padding: 3rem 5rem;
}

.footer img {
    width: 4rem;
    height: 4rem;
}

.footer .list {

}


.footer .socials img {
    height: 2rem;
    width: 2rem;
}

/* Attribution */
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
